@use 'variables' as *;
@use 'mixins/border-radius' as *;
@use 'mixins/image' as *;

.img-fluid     { @include img-fluid(); }
.img-thumbnail {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  @include border-radius($thumbnail-border-radius);
  box-shadow: $thumbnail-box-shadow;

  max-width: 100%;
  height: auto;
}

.figure { display: inline-block; }
.figure-img {
  margin-bottom: .5rem;
  line-height: 1;
}
.figure-caption {
  font-size: $figure-caption-font-size;
  color: $figure-caption-color;
}
