// System

*:focus, *:active, *:read-only {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

// Body

// body, input, textarea, select, button {
//   -webkit-font-smoothing: subpixel-antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// Links (449)
//
// Style anchor elements.

.nav-link {
  &:hover, &:focus {
    background-color: $gray-200;
  }
}

// Buttons (813)
//
// For each of Bootstrap's buttons, define text, background, and border color.

.btn {
  padding: .25rem .625rem;
  font-weight: 500;
  &.show {
    border-color: transparent;
  }
}

.btn-outline-secondary {
  border-color: $border-color !important;
  color: $body-color;
}

.btn-primary, .btn-outline-primary:hover, .btn-check:checked + .btn-outline-primary {
  color: $white !important;
}

// Forms (866)

.form-control, .form-select {
  font-size: .8125rem;
  border-color: $border-color;
  &:focus { border-color: $primary; }
}

// Navs (1156)

.nav-tabs {
  .nav-link {
    background-color: #eaeaea;
    border-top-color: $border-color !important;
    border-left-color: $border-color !important;
    border-right-color: $border-color !important;

    &:hover, &:focus {
      background-color: #f2eeee;
    }

    &.active {
      background-color: $white !important;
    }
  }
}

// Dropdowns (1233)
//
// Dropdown menu container and contents.

.dropdown {
  .dropdown-item-list {
    max-height: 12rem;
    overflow-y: auto;
  }
}

// Modals (1498)

.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}
.modal-backdrop {
  background-color: rgba(15, 15, 15, 0.4);
}

// Breadcrumb (1631)

.breadcrumb {
  display: flex;
  flex: 0 0 $breadcrumb-height;
  height: $breadcrumb-height;
  align-items: center;
  border-bottom: 1px solid $border-color;

  .breadcrumb-item {
    padding-left: calc($breadcrumb-height * 3 / 4);
    position: relative;

    &:first-child {
      padding-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      margin-top: -10px;
      margin-left: 1px;
      left: 100%;
      border-top: calc($breadcrumb-height / 2) solid transparent;
      border-bottom: calc($breadcrumb-height / 2) solid transparent;
      border-left: calc($breadcrumb-height / 2) solid $border-color;
    }
    &:after {
      content: '';
      position: absolute;
      margin-top: -10px;
      left: 100%;
      border-top: calc($breadcrumb-height / 2) solid transparent;
      border-bottom: calc($breadcrumb-height / 2) solid transparent;
      border-left: calc($breadcrumb-height / 2) solid $white;
    }
    &.active {
      font-weight: bold;
    }

    &.dropdown:before {
      margin-top: -6px;
    }
    &.dropdown:after {
      margin-top: -6px;
    }
  }
}

// .list-group-item {
//   background-color: transparent;
//   &.disabled { background-color: transparent !important; }
// }

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// @each $color, $value in $colors {
//   .text-#{$color} {
//     color: $value !important;
//   }
// }

// @each $color in ('primary', 'secondary', 'success', 'info') {
//   .text-bg-#{$color} {
//     color: $white !important;
//   }
//   .btn-outline-#{$color} {
//     &.active, &:hover {
//       color: $white;
//     }
//   }
// }
