.rosie-datepicker-portal {
  font-size: 0.75rem;
  .rosie-datepicker-cell {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.rosie-datepicker, .rosie-daterangepicker {
  .input-group-text.rosie-daterangepicker-label {
    border-radius: .25rem 0 0 .25rem;
  }
  .form-control-sm {
    border-radius: 0;
  }
  .btn-sm.rosie-daterangepicker-action {
    border-radius: 0 .25rem .25rem 0;
  }
}