@import '../variables';

.rosie-grid {
  &.rosie-grid-bordered {
    .rosie-grid-row {
      border-bottom: $border;
      .rosie-grid-cell { border-right: $border; }
    }
  }

  &.rosie-grid-striped {
    .rosie-grid-body {
      .rosie-grid-row:nth-of-type(even) { background-color: $gray-100; }
    }
  }

  &.rosie-grid-hover {
    .rosie-grid-body {
      .rosie-grid-row:hover:not(.selected) { background-color: $gray-100 !important; }
    }
  }

  .rosie-grid-header {
    .rosie-grid-row { .rosie-grid-cell { border-right: none; } }
    min-height: 30px;
  }

  .rosie-grid-body {
    .rosie-grid-row {
      &.selected {
        background-color: $gray-200 !important;
      }
    }
  }
}