@import '../variables';

.rosie-grid {
  border-top: $border;
  border-left: $border;

  &.rosie-grid-bordered {
    .rosie-grid-row {
      border-bottom: $border;
      .rosie-grid-cell { border-right: $border; }
    }
  }

  &.rosie-grid-striped {
    .rosie-grid-body {
      .rosie-grid-row:nth-of-type(even) { background-color: $gray-100; }
    }
  }

  &.rosie-grid-hover {
    .rosie-grid-body {
      .rosie-grid-row:hover:not(.selected) { background-color: $gray-300 !important; }
    }
  }

  .rosie-grid-header {
    .rosie-grid-row { border-bottom: 2px $border-style $border-color; }
    min-height: 2rem;
  }

  .rosie-grid-body {
    .rosie-grid-row {
      &.selected {
        background-color: $gray-200 !important;
      }
    }
  }
}