@import '../variables';

.rosie-grid {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;

  &.rosie-grid-bordered {
    .rosie-grid-row {
      border-bottom: 1px solid $border-color;
      .rosie-grid-cell {
        border-right: 1px solid $border-color;
      }
    }
  }

  &.rosie-grid-striped {
    .rosie-grid-body {
      .rosie-grid-row:nth-of-type(even) { background-color: #fafafa; }
    }
  }

  &.rosie-grid-hover {
    .rosie-grid-body {
      .rosie-grid-row:hover:not(.selected) { background-color: #efefef !important; }
    }
  }

  .rosie-grid-header {
    .rosie-grid-row { border-bottom: 2px solid $border-color; }
  }

  .rosie-grid-body {
    .rosie-grid-row {
      &.selected {
        background-color: #e0e0e0 !important;
      }
    }
  }
}